Package: com.samstone.nyanability
Name: Nyanability
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Reachability + Nyan Cat
Maintainer: Sam Stone
Author: Sam Stone
Section: Tweaks
